/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Base Style/Common Style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    
    
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
}



/* Top Palyers Style */
.top{
    margin-top: 20px;
}
.player-name{
    padding-left: 20px;
}
.section-title
{
    color: #562EFF;
    font-size: 1.5em;
    padding: 20px;
    margin-top: -15px ;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}
.player{
    display: flex;
    align-items: center;
    
}
.players img{
    width: 60px;
    height: 60px;
}

hr{
    border: 1px solid #562EFF;

}


/* Blogs Style */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.blog .thumbnail img{
    width: 177px;
    height: 117px;
}

.blog{
    display: flex;
}

.blog-title{
    font-size: 20px;
}

.blog-info{
    margin-left: 16px;
}

span{
    color: #562EFF;
}
.blog-author{
    color: #9f9f9f;
}

/* -------------------
Courses Style
----------------------
 */
.course .course-banner img{
    height: 110px;
    width: 177px;
}


/* Device Maintain */
@media screen and (max-width: 576px) {
    
}

@media screen and (max-width: 577px) and  (min-width: 960px){
    
}